<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.musinsa.task.repository.category.CategoryRepository">
    <select id="getAllCategories" resultType="String">
        SELECT CATEGORY_NAME
        FROM TB_CAT_META
    </select>
    <select id="getAllSubCategories" resultType="String">
        SELECT SUB_CATEGORY_NAME
        FROM TB_CAT_SUB
    </select>
    <select id="getSubCategory" parameterType="Integer" resultType="String">
        SELECT SUB_CATEGORY_NAME
        FROM TB_CAT_SUB
        WHERE CATEGORY_ID = #{categoryId}
    </select>
    <select id="getCategoryIdByName" parameterType="com.musinsa.task.dto.DTO$CategoryDTO" resultType="Integer">
        SELECT CATEGORY_ID
        FROM TB_CAT_META
        WHERE CATEGORY_NAME = #{categoryName}
    </select>
    <select id="getSubCategoryIdByName" parameterType="com.musinsa.task.dto.DTO$SubCategoryDTO" resultType="Integer">
        SELECT SUB_CATEGORY_ID
        FROM TB_CAT_SUB
        WHERE CATEGORY_ID = #{categoryId} AND SUB_CATEGORY_NAME = #{subCategoryName}
    </select>
    <insert id="addCategory" parameterType="com.musinsa.task.dto.DTO$CategoryDTO"
            useGeneratedKeys="true" keyProperty="categoryId">
        INSERT INTO TB_CAT_META (CATEGORY_NAME)
        VALUES (#{categoryName})
    </insert>
    <insert id="addSubCategory" parameterType="com.musinsa.task.dto.DTO$SubCategoryDTO"
            useGeneratedKeys="true" keyProperty="categoryId,subCategoryId">
        INSERT INTO TB_CAT_SUB (CATEGORY_ID, SUB_CATEGORY_NAME)
        VALUES (#{categoryId}, #{subCategoryName})
    </insert>
    <update id="updateCategoryName" parameterType="com.musinsa.task.dto.DTO$CategoryDTO">
        UPDATE TB_CAT_META
        SET CATEGORY_NAME = #{categoryName}
        WHERE CATEGORY_ID = #{categoryId}
    </update>
    <update id="updateSubCategoryName" parameterType="com.musinsa.task.dto.DTO$SubCategoryDTO">
        UPDATE TB_CAT_SUB
        SET SUB_CATEGORY_NAME = #{subCategoryName}
        WHERE (CATEGORY_ID, SUB_CATEGORY_ID) = (#{categoryId}, #{subCategoryId})
    </update>
    <delete id="deleteCategory" parameterType="Integer">
        DELETE FROM TB_CAT_META
        WHERE CATEGORY_ID = #{categoryId}
    </delete>
    <delete id="deleteSubCategory" parameterType="com.musinsa.task.dto.DTO$SubCategoryDTO">
        DELETE FROM TB_CAT_SUB
        WHERE (CATEGORY_ID, SUB_CATEGORY_ID) = (#{categoryId}, #{subCategoryId})
    </delete>
</mapper>